:root {

  /* Colores principales Volando */

  --navy-dark: #0b1120;

  --navy-black: #020617;

  --navy-card: #111827;

  --blue-main: #2563eb;

  --blue-hover: #3b82f6;


  /* Textos */

  --white: #f8fafc;

  --gray-text: #94a3b8;


  /* Bordes */

  --border: #1e293b;

}